@font-face {
  font-display: swap;
  font-family: "Roboto flex";
  // font-weight: 400;
  src: url("./../assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./../assets/fonts/roboto-v32-cyrillic_latin-regular.woff2") format("woff2"),
    url("./../assets/fonts/roboto-v32-cyrillic_latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./../assets/fonts/roboto-v32-cyrillic_latin-500.woff2") format("woff2"),
    url("./../assets/fonts/roboto-v32-cyrillic_latin-500.ttf") format("truetype");
}
