.footer {
  padding-top: 52px;
  padding-bottom: 167px;
}

.footer-wrapper {
  padding: 52px;
  display: flex;
  justify-content: space-between;
}

.footer__logo-column {
  height: 100%;
}

.footer__contacts {
  max-width: 218px;
}

.footer__contacts__phone {
  font-weight: 600;
  font-size: 22px;
  line-height: 127%;
  color: var(--green);
}

.footer__contacts__social-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

.footer__contacts__social {
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 8px;
  padding: 8px 12px;
  width: fit-content;
  height: 36px;
  background-color: var(--grey-4);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: var(--dark);

  & svg {
    flex-shrink: 0;
  }
}

.footer__contacts__address {
  margin-top: 18px;
  display: flex;
  column-gap: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: var(--dark);

  & svg {
    display: block;
    flex-shrink: 0;
  }
}

.footer__copyright {
  position: absolute;
  bottom: 52px;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-3);
}

.footer__links-columns {
  display: flex;
  justify-content: space-between;
  max-width: 576px;
  width: 100%;
}

.footer__links-column {
  // max-width: 160px;
  width: 100%;

  &:first-child {
    max-width: 160px;
  }
}

.footer__links-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: var(--black);

  &:nth-child(n + 2) {
    margin-top: 28px;
  }

  & + .footer__link-item {
    margin-top: 14px;
  }
}

.footer__link-item {
  margin-top: 8px;
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--dark);
}

.footer__link-bold {
  margin-bottom: 14px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: var(--black);
}

@media (max-width: 1240px) {
  .footer__links-columns {
    max-width: 390px;
  }

  .footer__links-column {
    max-width: 100px;

    &:first-child {
      max-width: 100px;
    }
  }
}

@media (max-width: 992px) {
  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer__links-columns {
    margin-top: 52px;
    max-width: 100%;
    width: 100%;
  }

  .footer__contacts {
    margin-top: 52px;
  }

  .footer__copyright {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 100px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    // row-gap: 32px;

    & > * {
      width: 100%;
    }
  }

  .footer__copyright {
    position: static;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 72px 0 16px 0;
  }
  .footer-wrapper {
    padding: 24px 20px;
  }

  .footer__contacts {
    margin-top: 32px;
  }

  .footer__links-columns {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
  }

  .footer__links-column {
    max-width: 130px;
  }
}

@media (max-width: 480px) {
  .footer__links-column {
    max-width: 50%;
  }
}
